<h3><% floorplan.building.label %> Floorplans</h3>
<form method="POST">
  <div class="form-group">
    <label for="floorplanLabel">Floorplan Label</label>
    <input type="text" class="form-control" id="floorplanLabel" name="label" placeholder="Floorplan Label" value="<% floorplan.label %>">
  </div>
  <div class="form-group">
    <label for="floorplanSublabel">Floorplan Sublabel</label>
    <input type="text" class="form-control" id="floorplanSublabel" name="sublabel" placeholder="Floorplan Sublabel" value="<% floorplan.sublabel %>">
  </div>
  <div class="form-group">
    <label for="displayWeightSelect">Weight</label>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <select id="dispalyWeightSelect" name="weight" class="form-control">
        <% wcount = -20 %>
        <% WHILE wcount <= 20 %>
          <option <% IF floorplan.weight == wcount %>SELECTED="SELECTED"<% END %>><% wcount %></option>
          <% wcount = wcount + 1 %>
        <% END %>
        </select>
      </div>
    </div>
    <span id="helpBlock" class="help-block">Floorplans with lower weights appear at the top of the listings.</span>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
