<!-- coming soon -->
<div class="panel panel-default">
	<div class="panel-heading"><h2 class="panel-title">Venues/Facilities</h2></div>
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th class="text-right">#</th>
				<th>Label</th>
				<th>System Name</th>
				<th>Sublabel</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
		<% FOREACH b IN buildings %>
			<tr>
				<td class="text-right text-muted"><% b.id %></td>
				<td>
					<strong><% b.label %></strong>
					<div class="small">
						<a href="<% request.base_uri %>/admin/edit-venue-info/<% b.id %>">Edit Venue Info</a> |
						<a href="<% request.base_uri %>/admin/manage-floorplans/<% b.id %>">Manage Floorplans</a>
					</div>
				</td>
				<td><% b.name %></td>
				<td><% b.sublabel %></td>
				<td><% b.active %></td>
			</tr>
		<% END %>
		</tbody>
	</table>
</div>
