<table class="table table-hover">
<thead>
	<tr>
		<th>Venue</th>
		<th>Space</th>
		<th>Floor/Level</th>
		<th>Gift Amount</th>
	</tr>
<tbody>
<% FOREACH s IN spaces %>
	<tr>
		<td><% s.floorplan.building.label %></td>
		<td><% s.label %></td>
		<td><a href="<% request.uri_base %>/level/<% s.floorplan.name %>"><% s.floorplan.label %></a></td>
		<td class="text-right"><% s.naming_amount_formatted %></td>
	</tr>
<% END %>
</tbody>
</table>
