<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#iron-dukes-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--a class="navbar-brand" href="<% request.uri_base %>">Naming Opportunities</a-->
		</div>
		<div clas="collapse navbar-collapse" id="iron-dukes-navbar-collapse">
			<ul class="nav navbar-nav">
				<!--li><a href="<% request.uri_base %>/available-naming-opportunities">Available Naming Opportunies</a></li>
				<li><a href="<% request.uri_base %>/venues">All Athletic Facilities</a></li-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=211387391&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Our Mission</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=211387912&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Meet The Staff</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=209485368&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Iron Dukes Key Dates</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=209485288&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Contact Us</a></li>
						<li><a href="//irondukes.netViewArticle.dbml?ATCLID=205272077&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">FAQ</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Giving <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="//irondukes.net/ViewArticle.dbml?DB_OEM_ID=5100&amp;ATCLID=210896622&amp;DB_OEM_ID=5100">Ways To Give</a></li>
						<li><a href="https://gifts.duke.edu/irondukes?DB_OEM_ID=5100">Make A Gift Today</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=210768292&amp;DB_OEM_ID=5100">Iron Dukes Annual Fund</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=210768096&amp;DB_OEM_ID=5100">Iron Dukes Varsity Club</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?DB_OEM_ID=5100&amp;ATCLID=211032290&amp;DB_OEM_ID=5100">Endowments and Capital Projects</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?DB_OEM_ID=5100&amp;ATCLID=205708952">Iron Dukes Heritage Society</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=210897001&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Junior/Young Iron Dukes</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Benefits <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=178277&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Levels &amp; Benefits</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=178280&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Grouping Criteria</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=178284&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Tax Benefits</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=211387692&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Information</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=204803918&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Exchange</a></li>
						<li><a href="http://goduke.com/tickets/?DB_OEM_ID=5100">Buy Tickets</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=211550099&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Football Season Parking</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=209838236&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Men's Basketball Season Parking</a></li>
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=210405787&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Women's Basketball Season Parking</a></li>
					</ul>
				</li-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Galleries <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="//irondukes.net/ViewArticle.dbml?ATCLID=211355596&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Photo Gallery</a></li>
						<li><a href="//irondukes.net/mediaPortal/player.dbml?DB_LANG=C&amp;DB_OEM_ID=5100&amp;DB_OEM_ID=5100">Video Gallery</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="//goduke.com">GODUKE.com</a>
				</li>
				<!--li class="dropdown">
					<a href="http://goduke.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GoDuke.com <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://goduke.com">GoDuke.com</a></li>
						<li><a href="http://nmnathletics.com/onefan/FanProfile.dbml?&DB_LANG=C&DB_OEM_ID=4200&DB_OEM_ID=5100">Log In</a></li>
					</ul>
				</li>
				<!--form action="//irondukes.net/Search.dbml" name="search" method="POST" class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="search" id="search_input" name="LIST_STRING" />
					</div>
				</form-->
				<a href="https://gifts.duke.edu/irondukes?DB_OEM_ID=5100" class="btn btn-info">Give Now!</a>
			</ul>
	</div>
</nav>
